<div class="post-nav-wrapper">
<div class="post-nav-container">  
<div class="post-navigation">
  {% if page.next %}
    <div class="post-next">
    <a  href="{{page.next.url}}">{% include icon-arrow-left.html  %}<span class="clip-text">{{page.next.title}}</span></a>
    </div>
  {% endif %}
  {% if page.previous %}
    <div class="post-previous">
    <a  href="{{page.previous.url}}"> <span class="clip-text">{{page.previous.title}} </span>{% include icon-arrow-right.html  %}</a>
    </div>
  {% endif %}
</div>
</div>
</div>
