/**
*  Front Page
**/
#title-header {
    background-image: $header-image;// no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    ///height of image / width of image
    padding-top: 137.65%;
    //height:1689px;
}

.logo-wrapper{
    position: absolute;
    top: 13%;
    left:0px;
    height:400px;
    width: 100%;

}
#logo{
    position: relative;
    display: block;
    width:600px;
    margin-left:auto;
    margin-right:auto;
   

}
.header-center{
    position:relative;
    text-align:center;
    padding-left:2*$spacing-unit;
    padding-right:2*$spacing-unit;
}

.title-links{
    text-align:center;
    margin-left:2.5%;

    text-transform:uppercase;
    font-size:.98em;
}
a.title-link{
    margin-right:35px;
    color:#333;

    color: #333;
    text-decoration: none;

    &:visited {
        color: #333;
    }

    &:hover {
        color: #222;
        //text-decoration: underline;
    }
}

/**
*  Content Header
**/

.site-header{
    position: relative;
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color:#d7dfea;
    opacity:0.99;
    width:100%;
}
.header-wrapper{
    max-width:$content-width;// - $page-spacing-unit*2;
    margin-left:auto;
    margin-right:auto;

}
.header-title{
    //display:inline-block;
    //margin-left:auto;
    //margin-right:auto;
}
.header-title-block{
    display:inline-block;


}


.site-header img{
    margin-top:2px;
    margin-bottom:-4px;
    padding-left:8px;
    height:58px;
}

.site-subheader{
    padding-top:1px;
    background-color:0.9*#d7dfea;

}
.subheader-links{
    margin-left:16px;
    
}
.subheader-links a{
    color:#333;
    text-transform:uppercase;
    font-size:0.85em;
    margin-right:35px;
}


/**
*  Devlog
**/

.devlog-page{
    padding-top:10px;
    background-color:$background-color;
}

.devlog-wrapper{
    max-width:$content-width;// - $page-spacing-unit*2;
    margin-left:auto;
    margin-right:auto;
    //padding-left:$page-spacing-unit;
    //padding-right:$page-spacing-unit;

   
}

.devlog-posts{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width:300px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-before:0;
    margin-after:0;
    -webkit-column-gap: $page-spacing-unit; /* Chrome, Safari, Opera */
    -moz-column-gap: $page-spacing-unit; /* Firefox */
    column-gap: $page-spacing-unit;

    //display: -webkit-flex;
    //display: flex;

    //-webkit-flex-flow:row wrap;
    //flex-flow:row wrap;

    //align-content: flex-start;
    margin:$page-spacing-unit -$page-spacing-unit 0px -$page-spacing-unit;

    
    padding-bottom: 40px;
    padding-top:10px;
}

.devlog-post{
    
    //-webkit-flex:1 1 300px;
    //flex:1 1 300px;
    //box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid; /* Firefox is dumb */
    break-inside: avoid;



    //a fix for chrome white-space:nowrap bug
    min-width:0px;

    background-color:#d7dfea;
    
    //margin: $page-spacing-unit*2 $page-spacing-unit 0px $page-spacing-unit;
    //padding: 0 0 $page-spacing-unit 0;
    /// the margins get screwy with columns, so use a border
    border-bottom: $page-spacing-unit solid $background-color;
}
.devlog-post img {
    width: 100%;
    
}

.devlog-link{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin:0px 20px 0px 20px;
    padding:16px 0px 8px 0px;
    font-family: 'Lato',Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight:bold;
    color: #494841;//#54534b;//#3b3933;//
    background-color:#d7dfea;
    
    display:block;
    border-bottom: 1px solid 0.75*#d7dfea + 0.25*#9ca298;
}
.devlog-link a{

    color: inherit;
}
.devlog-meta{
    font-family: 'Lato',Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: 0.6*#d7dfea + 0.4*#494841;
    padding:2px 2px 2px 2px;

    //margin:2px 6px 2px 6px;
    margin:2px 20px 6px 20px;
}


/**
*  Team
**/

.team-page{
    padding-top:10px;
    background-color:$background-color;
}

.team-wrapper{
    max-width:$content-width;
    margin-left:auto;
    margin-right:auto;
}

.team-posts{

    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow:row wrap;
    flex-flow:row wrap;

    align-content: flex-start;
    margin:0px -$page-spacing-unit 0px -$page-spacing-unit;
    justify-content:center;
    
    padding-bottom: 40px;
}

.team-post{
    
    -webkit-flex:1 1 200px;
    flex:1 1 200px;
    box-sizing: border-box;

    //a fix for chrome white-space:nowrap bug
    min-width:0px;
    max-width:240px;
    background-color:#d7dfea;
    //padding: 2px; //3px 3px $page-spacing-unit 3px;
    margin: $page-spacing-unit*2 $page-spacing-unit 0px $page-spacing-unit;

}
.team-post img {
    width: 100%;
    
}

.team-link{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin:16px 20px 0px 20px;
    padding:0px 0px 8px 0px;
    font-family: 'Lato',Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight:bold;
    color: #494841;//#54534b;//#3b3933;//
    background-color:#d7dfea;
    
    display:block;
    border-bottom: 1px solid 0.75*#d7dfea + 0.25*#9ca298;
}
.team-role{
    font-size:0.8em;
    color: #54534b;
}
.team-link a{

    color: inherit;
}
.team-meta{
    font-family: 'Lato',Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: 0.6*#d7dfea + 0.4*#494841;
    padding:2px 2px 2px 2px;

    //margin:2px 6px 2px 6px;
    margin:6px 20px 6px 20px;
}
.team-twitter{
    float:right;
    margin-top:-1px;
     margin-left:5px;
}
.team-html5{
    .icon {

    > svg {
        width:20px;
        height:20px;
    }
    }
    float:right;
    margin-top:-2px;
    margin-left:5px;
}

/**
 * Site footer
 */
.site-footer {
    //border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0 $spacing-unit 0;
    
    background-color: $background-color-dark;
}

.footer-wrapper{
    max-width: $content-width;
    //min-height:100px;
    margin-left:auto;
    margin-right:auto;
}
.footer-copyright{
    font-size:0.85em;
    //text-transform:uppercase;
    text-align:center;
}
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}




/**
 * Page content
 */
.page-content {
    padding: 0 0 0 0;
    background-color: $background-color;
}
.page-wrapper{
    padding: $spacing-unit 0;
    max-width: $content-width;
    min-height:100px;
    margin-left:auto;
    margin-right:auto;
}
.page-interior{
    padding: 0 $spacing-unit;
}
.page-heading {
    font-size: 20px;

}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-nav-wrapper{
    background-color:0.3*#d7dfea;
    height:24px;
}
 .post-nav-container{
    //text-align:center;
    
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
 }
.post-navigation{
    position:relative;
    padding-top:3px;
    
    display:block;
    margin-left:$spacing-unit;
    margin-right:$spacing-unit;

    text-transform:uppercase;
    font-size:0.85em;

}
.clip-text{
    width:100%;
    display:inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.post-next{
    position:absolute;
    width:50%;
    text-align:left;
    
    a{
        width:100%;
        display:inline-block;
        //margin-left:$spacing-unit;
    }
    svg{
        position:absolute;
        left:-16px;
        top:4px;
    }
}

.post-previous{
    position:absolute;
    width:50%;
    text-align:right;
    
    left:50%;
    a{
        width:100%;
        display:inline-block;
        margin-right:$spacing-unit;
    }
    svg{
        position:absolute;
        right:-16px;
        top:4px;
    }

}
.page-content .arrow-left{

    svg{
        width:16px;
        height:10px;
        fill: currentColor;
    }
}
.page-content .arrow-right{
    svg{
        width:16px;
        height:10px;
        fill: currentColor;
    }
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
   // font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

   // @include media-query($on-laptop) {
        font-size: 36px;
   // }
}
.post-image{
    text-align:center;
    img{
       // width:100%;
    }
    padding-bottom: 20px;
}
.post-content {
    margin-bottom: $spacing-unit;

    h2 {
      //  font-size: 32px;

      //  @include media-query($on-laptop) {
            font-size: 28px;
      //  }
    }

    h3 {
       // font-size: 26px;

        //@include media-query($on-laptop) {
            font-size: 22px;
       // }
    }

    h4 {
        //font-size: 20px;

       // @include media-query($on-laptop) {
            font-size: 18px;
       // }
    }
}
